
<!DOCTYPE html>
<html>
<head>
    
















<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Ошибка
</title>
<script type="text/javascript">
    var language = 'RUSSIAN';
    var cur = 'руб.';
    var currencySymbol = 'icon-rouble';
</script>
<script type="text/javascript" src="/webapi/template/common/scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/webapi/template/common/scripts/bootstrap.tooltip.min.js"></script>
<script type="text/javascript" src="/webapi/template/common/scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="/webapi/template/common/scripts/i18n/i18n.js"></script>
<script type="text/javascript" src="/webapi/template/common/scripts/valday/best2pay-functions.js"></script>
<script type="text/javascript" src="/webapi/template/common/scripts/valday/general.js"></script>
<script type="text/javascript" src="/webapi/template/common/scripts/translit/scripts.js"></script>
<script type="text/javascript" src="/webapi/template/common/scripts/chrome/isChrome.js"></script>
    <link rel="stylesheet" href="/webapi/template/common/css/valday/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webapi/template/common/css/valday/b2p-style.css"/>
    <link rel="stylesheet" href="/webapi/template/common/css/valday/b2p-style-redirect.css"/>
    <link rel="stylesheet" href="/webapi/template/common/css/valday/notify/notify-style-redirect.css"/>
    <script type="text/javascript" src="/webapi/template/common/scripts/i18n/i18n.js"></script>
</head>
<body data-width="360" onload="displayBlock();">
<div class="outer">
    <div class="wrapper">
        <noscript>
            <div class="row page-header">
                <div class="container header error">
                    Ваш браузер не поддерживает JavaScript. Пожалуйста, включите поддержку JavaScript и обновите страницу.
Как включить поддержку JavaScript: <a href="http://best2pay.ru/question-277" title="Как включить поддержку JavaScript">http://best2pay.ru/question-277</a>
                </div>
            </div>
        </noscript>
        <div id="popup_loader"></div>
        <div class="container-fluid" id="screen">
            <div class="row header vertical-align-center">
                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 header-logo text-left">
                    
                </div>
                
            </div>
            <div id="content">
                <div id="content-data">
                    <div class="message-sent-result">
                        <img src="/webapi/template/common/img/valday/error.svg">
                        <div>
                            <span>Произошла ошибка</span>
                            <p>Invalid parameter
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            






<div id="footer">
    <div class="footer-row">
        <div class="footer-icons">
            <img src="/webapi/template/common/img/valday/visa-color.svg"/>
            <img src="/webapi/template/common/img/valday/mc-color.svg"/>
            <img src="/webapi/template/common/img/valday/mir-color.svg"/>
            
            <div class="mir-accept--bg">

            </div>
        </div>
        <div class="footer-links">
            <a href="mailto:helpline@best2pay.net" id="feedback-link">Обратная связь</a>
            <img src="/webapi/template/common/img/valday/b2p.svg" class="footerImgBest2Pay"/>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
</body>
</html>