<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/PRIEMLEMO_ava.png" type="image/png">
    <title>Вход</title>
    <style>
        body {
            text-align: center;
        }

        #login_form {
            position: relative;
            top: 40vh;
        }
    </style>
</head>
<body>

<div id="login_form">
    <h2 id="receiver_log_in">Вход для иполнителя</h2>
    <input id="user_login" placeholder="Логин">
    <br>
    <br>
    <input id="user_password" type="password" placeholder="Пароль">
    <br>
    <br>
    <button id="user_signin" onclick="user_sign_in()">Войти</button>
    <br>
    <br>
    <a href="/register/">Регистрация для исполнителя</a>
    <br>
    <br>
    <h2 id="comp_log_in">Вход для компании</h2>
    <input id="comp_login" placeholder="Логин">
    <br>
    <br>
    <input id="comp_password" type="password" placeholder="Пароль">
    <br>
    <br>
    <button id="comp_signin" onclick="comp_sign_in()">Войти</button>
    <br>
    <br>
    <a href="/comp_register/">Регистрация для компании</a>
</div>

<script>
    function user_sign_in() {
        var login = document.getElementById("user_login").value
        var password = document.getElementById("user_password").value

        var xhr = new XMLHttpRequest();
	    xhr.open('POST', '/user_sign_in/');

	    var data = new FormData();

        data.append('login', login)
        data.append('password', password)

        xhr.send(data);

        xhr.onload = function () {
            if (xhr.response == "error") {
                alert("Неправильный логин или пароль")
            } else {
				var link = '/acc/?user=' + xhr.response
		        window.location.href = link
		    }
	    };

    }

    function comp_sign_in() {
        var login = document.getElementById("comp_login").value
        var password = document.getElementById("comp_password").value

        var xhr = new XMLHttpRequest();
	    xhr.open('POST', '/comp_sign_in/');

	    var data = new FormData();

        data.append('login', login)
        data.append('password', password)

        xhr.send(data);

        xhr.onload = function () {
            if (xhr.response == "error") {
                alert("Неправильный логин или пароль")
            } else {
				var link = xhr.response
		        window.location.href = link
		    }
	    };
    }
</script>

</body>
</html>