<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <style>
        body {
            text-align: center;
        }

        #user_form {
            position: relative;
            top: 40vh;
        }
    </style>
</head>
<body>

<div id="user_form">
    <p id="name">{{ name }}</p>
    <br>
    <br>
    <p id="money">{{ account_sum }}</p>
    <br>
    <br>
    <button id="tie_card" onclick="tie_card()">Привязать карту</button>
    <br>
    <br>
    <input type="number" id="sum_out" placeholder="Сумма к выводу">
    <br>
    <br>
    <button id="pay_out" onclick="pay_out()">Вывести деньги</button>
</div>

<script>
    function tie_card() {
        alert()
    }

    function pay_out() {
        alert()
    }
</script>

</body>
</html>